@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.navbar-links a {
  all: unset;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-logo {
  font-size: 20px;
  margin-left: -260px;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: -16px;
}
